.inputFormComponent{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 300px;
}
input{
    padding: 20px;
    border-radius: 10px;
    margin: 10px
}
input:invalid[focused="true"]{
    border: 2px solid #ff0000;
}
input:invalid[focused="true"] ~ span{
    display: block;
}
select:invalid[focused="true"]{
    border: 2px solid #ff0000;
}
select:invalid[focused="true"] ~ span{
    display: block;
}
.error{
    font-size: 13px;
    color: #ff0000;
    display: none;
}
.buttonStyle{
    background-color:#0a0a23;
    color: #fff;
    border:none;
    border-radius:10px;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
}